<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Blogs by Admin</title>
    <style>
        /* Your existing CSS styles */
    </style>
</head>
<body>
    <div class="container">
        <a href="{{ url_for('blogs_dashboard') }}">BACK</a>
        <h4>View Blogs by Admin</h4>
        {% if details %}
            {% for i in details %}
                <div class="blog-item">
                    
                    <form method="POST" action="{{ url_for('update_blog', blog_id=i[0]) }}">

                        <label for="blog-title">blog-title:</label><br>
                        <input type="text" id="blog-title" name="blog-title" value="{{ i[1] }}"><br>
                        <label for="blog-content">Blog-content:</label><br>
                        <textarea id="blog-content" name="blog-content">{{ i[2] }}</textarea><br>
                        <button type="submit">Update</button>

                    </form>

                    
                    
                    
                </div>
            {% endfor %}
        {% else %}
            <p>No blogs are added</p>
        {% endif %}
    </div>
</body>
</html>
